html, body {
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
}
.background{
    background-image: url(../img/tubaroes2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.fontitulo{
    justify-content: center;
     font-size: 95px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, ;
     color: aliceblue;
}

.header{
    justify-content: center;
    text-decoration: none;
    background-color: #6cafcaa6;
}

.cabecalho{
     text-align: center;
     justify-content: center;
     font-size: 40px;
     font-family: fantasy;
     color: aliceblue;
}

.navegacao{
    text-align: center;
     justify-content: center;
}

.botao2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #80b6e2;
    background-color: #074a81;
    width: 180px;
    height: 70px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.botao1 {
    color: #80b6e2;
    background-color: #074a81 ;
    width: 280px;
    height: 70px ;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.divCadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.form-group {

    justify-content: center;
     font-size: 25px;
     font-family: fantasy;
     text-decoration: none;
     color: aliceblue;
}

.valor{
    background-color: hsla(189, 41%, 67%, 0.918);
    height: 25px;
    font-family: fantasy;
    font-size: 18px;
    color: hsla(219, 59%, 20%, 0.568);
    border: none;
    border-radius: 10px;
    text-align: center;
    width: 300px; 
}

.enviar {
    color: #80b6e2;
    background-color: #074a81 ;
    width: 280px;
    height: 70px ;
    font-size: 35px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}